@model AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.Duyuru

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "Duyuru Sil | Admin Panel";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Duyuru Sil | CSharpTurk";
    }
}
<script>
    var module = angular.module('angular');
    module.controller('duyuruSilController', ['$scope','$http', function ($scope, $http, $sce) {
        $scope.duyuru = {};
        angular.element(document).ready(function () {
            $http({ method: 'GET', url: '/api/DuyuruAPI/' + $scope.duyuruId }).success(function (data, status, headers, config) {
                $scope.duyuru = data;
                $scope.rawHtmlGovde = function () {
                    return $sce.trustAsHtml($scope.duyuru.DuyuruGovde);
                }
                alert('Duyuru Silindi ...');
                window.location = "/Duyuru/Duyurular";
            }).error(function (data, status, headers, config) {
                alert('Bilgileri alırken bir hata oluştu. Sayfa yeniden yükleniyor!');
                window.location.reload();
            });
        })
        $scope.submitForm = function () {
            $http({ method: 'DELETE', url: '/api/DuyuruAPI/' + $scope.duyuruId + '/' + $scope.userId }).success(function (data, status, headers, config) {
                //işlem başarılı
            }).error(function (data, status, headers, config) {
                alert('İşlem sırasında bir hata oluştu. Sayfayı yenileyerek tekrar deneyin!');
            })
        }
    }]);
</script>
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12">
        <h3>Silmek istediğinize emin misiniz ?</h3>
        <div id="ang_duyuruSil" ng-controller="duyuruSilController" ng-init="duyuruId=@ViewBag.id;userId='@ViewBag.userId'">
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.DuyuruTarih)
                </dt>

                <dd>
                    {{duyuru.DuyuruTarih | date :'dd.MM.yyyy'}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DuyuruBaslik)
                </dt>

                <dd>
                    {{duyuru.DuyuruBaslik}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DuyuruResimURL)
                </dt>

                <dd>
                    {{duyuru.DuyuruResimURL}}
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DuyuruGovde)
                </dt>

                <dd ng-bind-html="rawHtmlGovde()">

                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DuyuruOzet)
                </dt>

                <dd>
                    {{duyuru.DuyuruOzet}}
                </dd>

            </dl>

            <form ng-submit="submitForm()">
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Sil" class="form-control btn btn-danger" />
                </div>
            </form>
        </div>
        <br />
        <div>
            <a class="btn btn-primary" href="@ViewBag.previousUrl">
                <span class="glyphicon glyphicon-chevron-left glyphicon-th-large"></span>
                Geri Dön
            </a>
        </div>
    </div>
</div>
<br />