@model AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.Duyuru

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        ViewBag.Title = "Duyuru Düzenle | Admin Panel";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
        ViewBag.Title = "Duyuru Düzenle | CSharpTurk";
    }
}
<script src="~/Scripts/angular_spec/DuyuruDuzenle.js"></script>
<h2>Duyuru Düzenle</h2>
<div class="row">
    <div class="col-sm-11 col-lg-11 col-md-11 col-ls-11 col-xs-11">
        <div id="ang_duyuruDuzenle" ng-controller="duyuruDuzenleController">
            <form name="formDuyuruDuzenle" ng-submit="submitForm()" ng-init="duyuruId= @ViewBag.id;userId='@ViewBag.userId'">
ü                <div class="form-horizontal">
                    <h4>Duyuru</h4>
                    <hr />
                    @Html.HiddenFor(model => model.DuyuruId)
                     <ul ng-repeat="alan in tumHatalar">
                         <li class="colorRed" ng-repeat="hata in alan">{{hata}}</li> <!--Bir alanda birde çok hata olabilir!!-->
                         <!--alan : DuyuruBaşlığı, DuyuruGovde, DuyuruOzet-->
                     </ul>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DuyuruBaslik, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="duyuruBaslik" ng-model="duyuruBaslik">
ü                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DuyuruGovde, new { @class = "control-label col-md-2" })
                        <div>
                            <div class="col-sm-10 col-md-10">
                                <div text-angular ng-model="duyuruGovde" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DuyuruOzet, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <textarea rows="5" name="duyuruOzet" class="form-control" ng-model="duyuruOzet"> {{duyuruOzet}} </textarea>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Düzenle" class="form-control btn btn-warning" />
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <a class="btn btn-primary" href="@ViewBag.previousUrl">
                <span class="glyphicon glyphicon-chevron-left glyphicon-th-large"></span>
                Geri Dön
            </a>
        </div>
    </div>
</div>
<br />