@model AspNetMVC_CSharpTurk.Models.DatabaseObjectModels.StatikSayfa

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Statik Sayfa Oluştur | Admin Panel";
}

<script>
    var module = angular.module('angular');

    module.controller('statikSayfaOlusturController', ['$scope', '$http', function ($scope, $http) {
        $scope.sayfa = {};
        $scope.tumHatalar = {};
        $scope.submitForm = function () {
            $http({
                method: 'POST',
                url: '/api/StatikSayfaAPI/StatikSayfaOlustur',
                contentType: 'application/json',
                data: $scope.sayfa,
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                transformRequest: function (obj) {
                    var str = [];
                    for (var p in obj)
                        str.push(encodeURIComponent(p) + "=" + encodeURIComponent(obj[p]));
                    return str.join("&");
                }
            }).success(function (data,status,headers,config) {
                alert('Statik sayfa kaydedildi!');
                window.location = "/Admin/StatikSayfalar";
            }).error(function (data, status, headers, config) {
                $scope.tumHatalar = data.ModelState;
            })
        }
    }]);
</script>

<div class="container">
    <div class="row sifirla">
        <div class="col-sm-12 col-lg-12 col-md-12 col-ls-12 col-xs-12" id="statikSayfa" ng-controller="statikSayfaOlusturController">
            <form name="formMakaleOlustur" ng-submit="submitForm()">
                <ul ng-repeat="alan in tumHatalar">
                    <li style="color:red" ng-repeat="hata in alan">{{hata}}</li> <!--Bir alanda birde çok hata olabilir!!-->
                    <!--alan : MakaleBaşlığı, MakaleGovde, MakaleOzet-->
                </ul>
                <div class="form-horizontal">
                    <br>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SayfaAdi, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="sayfaAdi" class="form-control" ng-model="sayfa.SayfaAdi">
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SayfaIcerik, new { @class = "control-label col-md-2" })
                        <div>
                            <div class="col-sm-10 col-md-10">
                                <div text-angular ng-model="sayfa.SayfaIcerik" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SayfaAciklama, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="sayfaAciklama" class="form-control" ng-model="sayfa.SayfaAciklama">
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.GlyphiconClass, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="GlyphiconClass" class="form-control" ng-model="sayfa.GlyphiconClass">
                            <span class="text-red">Uyarı : Bu menü üzerinden eklenen sayfalar navbar üzerinde görüntülenecektir. Eğer bir 
                            özel bir ikon seçmek isterseniz bunu bootstrap'in glypiconları ile yapabilirsiniz. Bu textbox'a
                            glypicon class'ı girilmelidir. Örneğin : 'glyphicon glyphicon-tree-conifer' şeklinde. Boş bırakırsanız 
                                <span class="glyphicon glyphicon-tree-conifer"></span> ikonu ön tanımlıdır.
                            </span>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Oluştur" class="form-control btn btn-success" />
                        </div>
                    </div>

                </div>
            </form>

            <div>
                <a class="btn btn-primary" href="@ViewBag.oncekiSayfa">
                    <span class="glyphicon glyphicon-chevron-left glyphicon-th-large"></span>
                    Geri Dön
                </a>
            </div>
            <br />

        </div>
    </div>
</div>
